NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

MONGODB_URI=mongodb://127.0.0.1:27017/web_project

JWT_ACCESS_SECRET=access-secret-change-me
JWT_REFRESH_SECRET=refresh-secret-change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
