NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

MONGODB_URI=mongodb://127.0.0.1:27017/web_project

JWT_ACCESS_SECRET=access-secret-change-me
JWT_REFRESH_SECRET=refresh-secret-change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# MinIO / S3 Config
S3_ENDPOINT=https://s3.devnguyen.me
S3_PORT=443
S3_USE_SSL=true
S3_ACCESS_KEY=<minio_access_key>
S3_SECRET_KEY=<minio_secret_key>
S3_REGION=us-east-1

# Bucket names
S3_BUCKET_BLOG_IMAGES=blog-images
S3_BUCKET_AVATARS=avatars
S3_BUCKET_PUBLIC=public
S3_BUCKET_PRODUCTS=products
S3_BUCKET_TICKETS=tickets

# Public URL (cho frontend hiển thị ảnh)
S3_PUBLIC_URL=https://s3.devnguyen.me